<section class="section section-fixed">
  <div class="section-wrapper">
    <div class="fixed-title">
      <p class="title-text">Available now</p>
      <p class="title-cursive">for Windows, Mac, Linux</p>
    </div>
    <div class="fixed-links">
      <p class="links-title">Buy on:</p>
      <a class="fixed-link" href="https://steamcommunity.com/sharedfiles/filedetails/?id=781956216">
        <img class="img img-links" src="https://steamcommunity-a.akamaihd.net/public/shared/images/header/globalheader_logo.png?t=962016">
      </a>
      <a class="fixed-link" href="https://www.gog.com/">
        <img class="img img-links" src="http://www.sokobond.com/images/gog.png">
      </a>
    </div>
    <div class="fixed-socials">
      <a class="fixed-social" target="_blank" href="https://www.facebook.com/TheLongReach/">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a class="fixed-social" target="_blank" href="https://twitter.com/TheLongReach">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
