<section class="section section-fixed">
  <div class="section-wrapper">
    <div class="fixed-title centered">
      <p class="title-text">Coming summer 2017</p>
    </div>
    <div class="fixed-links">
      <button class="btn btn-fixed">
        <span class="btn-text">Subscribe <span class="m-hidden">for updates</span></span>
      </button>
    </div>
    <div class="fixed-socials">
      {% for item in share %}
        {% include "partials/sections/fixed/template_socials.html" %}
      {% endfor %}
      <a class="fixed-social" target="_blank" href="https://twitter.com/TheLongReach">
        <span class="social-text">press kit</span>
      </a>
    </div>
  </div>
</section>
