<section class="section section-fixed">
  <div class="section-wrapper">
    <div class="fixed-title centered">
      <p class="title-text">Coming summer 2017</p>
    </div>
    <div class="fixed-links">
      <button class="btn btn-fixed">
        <span class="btn-text">Subscribe for updates</span>
      </button>
    </div>
    <div class="fixed-socials">
      <a class="fixed-social" target="_blank" href="https://steamcommunity.com/sharedfiles/filedetails/?id=781956216">
        <i class="fa fa-steam" aria-hidden="true"></i>
      </a>
      <a class="fixed-social" target="_blank" href="https://www.facebook.com/TheLongReach/">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a class="fixed-social" target="_blank" href="https://twitter.com/TheLongReach">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
