<section class="section section-team">
  <div class="section-wrapper">
    <h3 class="team-title">Our Team</h3>
    <p class="team-subtitle">I am alone, and feel the charm of existence</p>
    <div class="team-gallery">
      {% block content %}
        {% include "partials/sections/team/first.html" %}
        {% include "partials/sections/team/second.html" %}
        {% include "partials/sections/team/third.html" %}
        {% include "partials/sections/team/fourth.html" %}
      {% endblock %}
    </div>
  </div>
</section>
