<section class="section section-interaction">
  <div class="image-wrapper">
    <div class="shadow"></div>
    <img src="images/interaction/city_normal.png">
  </div>

  <div class="content-wrapper">
    <div class="sponsors">
      <div class="sponsors-item">
        <img class="img img-sponsors" src="images/logos/painted_black_games_splash.png" />
      </div>
      <div class="sponsors-item">
        <img class="img img-sponsors" src="images/logos/merge-games-logo.png" />
      </div>
    </div>
    <div class="copyrights">
      <p class="copy-text">Copyrights</p>
    </div>
  </div>
</section>
