<!-- works not properly with repeated images -->
<!-- will work fine with unique ones -->
<div class="gallery">
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/info/image-1.jpg">
      <img class="img img-gallery" src="images/info/thumb-1.jpg">
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/info/image-2.jpg">
      <img class="img img-gallery" src="images/info/thumb-2.jpg">
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/info/image-1.jpg">
      <img class="img img-gallery" src="images/info/thumb-1.jpg">
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/info/image-2.jpg">
      <img class="img img-gallery" src="images/info/thumb-2.jpg">
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/info/image-1.jpg">
      <img class="img img-gallery" src="images/info/thumb-1.jpg">
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/info/image-2.jpg">
      <img class="img img-gallery" src="images/info/thumb-2.jpg">
    </a>
  </div>
</div>
