<section class="section section-gallery">
  <div class="section-wrapper section-wrapper-wide">
    <div class="gallery-items">
      <div class="gallery-item">
        <img class="img img-gallery" src="images/info/image-1.jpg" />
      </div>
      <div class="gallery-item">
        <img class="img img-gallery" src="images/info/image-2.jpg" />
      </div>
      <div class="gallery-item">
        <img class="img img-gallery" src="images/info/image-1.jpg" />
      </div>
      <div class="gallery-item">
        <img class="img img-gallery" src="images/info/image-2.jpg" />
      </div>
    </div>
  </div>
</section>
