<div class="gallery">
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_1.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_1.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_1.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_2.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_2.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_2.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_3.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_3.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_3.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_4.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_4.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_4.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_5.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_5.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_5.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_6.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_6.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_6.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_7.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_7.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_7.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_8.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_8.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_8.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_9.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_9.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_9.png"> -->
    </a>
  </div>
  <div class="gallery-item">
    <a data-fancybox="gallery" href="images/gallery/processed/The_Long_Reach_Adventure_Game_10.png">
      <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/processed/The_Long_Reach_Adventure_Game_10.png">
      <!-- <img class="img img-gallery" alt="The Long Reach Adventure Game Pixel Art" src="images/gallery/thumbs/thumbnail_The_Long_Reach_Adventure_Game_10.png"> -->
    </a>
  </div>
</div>
