@import '../base/colors.styl'
@import '../base/sizes.styl'

$spaceVertical = 24px
$spaceCenter = 24px
$maxWidthText = 350px

.section-awards
  .awards-item
    display: flex
    justify-content: flex-start
    align-items: stretch
    margin: 0 auto 70px

    &.awards-item-left
      flex-direction: row
      +below($bp)
        flex-direction: column

      .item-image
        text-align: right
        padding-right: $spaceCenter
        +below($bp)
          text-align: center
          padding-right: 0

      .item-text
        padding-left: $spaceCenter
        justify-content: flex-start
        +below($bp)
          padding: $spaceVertical 0 0 0

    &.awards-item-right
      flex-direction: row-reverse
      +below($bp)
        flex-direction: column

      .item-image
        text-align: left
        padding-left: $spaceCenter
        +below($bp)
          text-align: center
          padding-left: 0

      .item-text
        padding-right: $spaceCenter
        justify-content: flex-end
        +below($bp)
          padding: $spaceVertical 0 0 0
          justify-content: flex-start

  .item-image
    flex: 0 0 50%

    .img.img-award
      width: 100%
      max-width: $maxWidthText

  .item-text
    flex: 0 0 50%
    display: flex
    font-family: 'Lato', Helvetica, Arial, sans-serif
    font-style: italic
    font-size: 24px

    .text-wrapper
      max-width: $maxWidthText
      +below($bp)
        max-width: 100%

    .text-author
      margin-top: 24px
