@import '../base/colors.styl'

.section-awards
  .awards-item
    display: flex
    justify-content: flex-start
    align-items: stretch
  
    &.awards-item-left
      flex-direction: row
    
    &.awards-item-right
      flex-direction: row-reverse
  
    .item-image
    .item-text
      flex: 0 0 50%
      height: 100px
      opacity: .5
  
    .item-image
      background-color: $accent-light
  
    .item-text
      background-color: $accent-dark
  