@import '../base/colors.styl'
@import '../base/sizes.styl'

$padding = 32px

.section-cta
  // margin: 100px 0
  +below($bp)
    margin: 0 0 20px

  .section-wrapper
    text-align: center

  .cta
    display: inline-block
    padding: $padding ($padding * 2)
    border-radius: 8px
    border: 4px solid $butterscotch
    color: $butterscotch
    +below($bp)
      padding: ($padding / 2) $padding

    .action
      margin: ($padding / 2)
      font-size: 32px
      font-weight: 600

    .cursive
      margin: ($padding / 4)
      color: $white
      font-style: italic

// hovers [mobile disabling]
html.mobile
  .section-cta
    .cta
      &:active
        background-color: $butterscotch
        color: $black

html:not(.mobile)
  .section-cta
    .cta
      transition: background-color $transitionSpeed $transitionTiming
      &:hover
        background-color: $butterscotch
        color: $black
