@import '../base/colors.styl'
@import '../base/sizes.styl'

.section-fixed
  position: fixed
  z-index: 1
  bottom: 0
  border: 2px solid $accent-light
  background-color: $accent-gray
  font-size: 19px

  .section-wrapper
    display: flex
    justify-content: space-between
    align-items: stretch
    padding: 8px 20px

    .fixed-title
    .fixed-links
    .fixed-socials
      flex: 0 0 33%
      +below($bp)
        flex: 0 1 50%

  .fixed-title
    +below($bp)
      display: none
    .title-text
      margin: 0 0 4px
      text-transform: uppercase

    .title-cursive
      font-family: 'WorkSans', Helvetica, Arial, sans-serif
      font-style: italic
      font-size: 14px

    &.centered
      display: flex
      align-items: center
      +below($bp)
        display: none

      .title-text
        font-size: 16px
        text-transform: none

  .fixed-links
    display: flex
    justify-content: center
    align-items: center
    +below($bp)
      justify-content: space-around

    .links-title
      font-family: 'WorkSans', Helvetica, Arial, sans-serif
      text-transform: uppercase
      white-space: nowrap
      +below($bp)
        display: none

    .fixed-link
      padding: 0 0 0 32px
      +below($bp)
        padding: 0

      .img.img-links
        display: block
        max-width: 116px
        max-height: 32px

  .fixed-socials
    color: $butterscotch
    text-align: right
    font-size: 28px
    display: flex
    justify-content: space-around
    align-items: center
    +below($bp)
      justify-content: space-between

  .fixed-social
    position: relative
    display: flex
    justify-content: center
    align-items: center
    +below($bp)
      margin: 0
      padding: 8px

  .social-text
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    font-size: 14px

  .presskit
    color: $butterscotch;

  .btn.btn-fixed
    padding: 8px 40px
    border: 2px solid $butterscotchHovered
    border-radius: 6px
    color: $white
    background-color: $butterscotch
    +below($bp)
      padding: 8px 16px

    .btn-text
      font-size: 16px
      font-weight: 500
      line-height: 1
      transition: color $transitionSpeed $transitionTiming

    .m-hidden
      +below($bp)
        display: none

// hovers [mobile disabling]
html.mobile
  .section-fixed
    .fixed-social
      &:active
        color: $butterscotchHovered
    .btn.btn-fixed
      &:active
        background-color: $butterscotchHovered

        .btn-text
          color: $white

html:not(.mobile)
  .section-fixed
    .fixed-social
      transition: color $transitionSpeed $transitionTiming
      &:hover
        color: $butterscotchHovered

    .btn.btn-fixed
      transition: background-color $transitionSpeed $transitionTiming
      &:hover
        background-color: $butterscotchHovered

        .btn-text
          color: $white
