@import '../base/colors.styl'
@import '../base/sizes.styl'

.gallery
  .gallery-item
    position: relative
    margin: 0 10px

    .img.img-gallery
      position: relative
      display: block
      width: 100%
