@import '../base/colors.styl'

/* section-title */

.section-info .section-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.section-info-left .section-wrapper {
  flex-direction: row;
}
.section-info-right .section-wrapper {
  flex-direction: row-reverse;
}
.section-info .info-image {
  height: 100px;
  flex: 0 0 70%;
  background-color: yellow;
  opacity: .5;
}
.section-info .info-text {
  flex: 0 0 30%;
  opacity: .5;
  background-color: green;
}
.section-info-left .info-text {
  transform: translateX(-50px);
}
.section-info-right .info-text {
  transform: translateX(50px);
}
.section-info .info-text .text-title {}
.section-info .info-text .text-decription {}
