@import '../base/colors.styl'
@import '../base/sizes.styl'

$widthImage = 70%
$widthText = 45%
$widthGap = 33% // TODO: fix magical num
$gradientStart = rgba($black, 0)
$gradientEnd = rgba($black, 1)
$mobileOverlapping = -50px

.section-info
  margin: 100px 0
  overflow-x: visible
  +below($bp)
    margin: 20px 0

  .section-wrapper
    display: flex
    justify-content: flex-start
    align-items: center

  // .section-info-left
  &:nth-child(odd)
    .section-wrapper
      flex-direction: row
      +below($bp)
        flex-direction: column

    .img-shadow
      background: linear-gradient(to left, $gradientEnd, $gradientStart)

  // .section-info-right
  &:nth-child(even)
    .section-wrapper
      flex-direction: row-reverse
      +below($bp)
        flex-direction: column

    .img-shadow
      background: linear-gradient(to left, $gradientStart, $gradientEnd)

.section-info
  .info-image
    flex: 0 0 $widthImage
    position: relative
    +below($bp)
      flex: 1 1 1

  .info-text
    flex: 0 0 $widthText
    +below($bp)
      flex: 1 1 1

    .text-title
      margin: 0 0 24px
      font-size: $textTitle
      font-weight: 600
      +below($bp)
        font-size: $textTitleMob

    .text-description
      font-family: 'WorkSans', Helvetica, Arial, sans-serif
      font-size: $textSubtitle
      +below($bp)
        font-size: $textSubtitleMob

  // .section-info-left
  &:nth-child(odd)
    .info-text
      transform: translateX(- $widthGap)
      +below($bp)
        transform: translateX(0)!important
        opacity: 1!important
        margin-top: $mobileOverlapping

  // .section-info-right
  &:nth-child(even)
    .info-text
      transform: translateX($widthGap)
      +below($bp)
        transform: translateX(0)!important
        opacity: 1!important
        margin-top: $mobileOverlapping

.img.img-info
.video.video-info
  display: block
  width: 100%

.img-shadow
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
