@import '../base/colors.styl'
@import '../base/sizes.styl'

.section-interaction
  max-height: 600px
  overflow: hidden
  position: relative

  .image-wrapper
    width: 100%
    overflow: hidden
    position: relative
    display: flex
    justify-content: center

  .content-wrapper
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: center

  .img.img-interaction
    width: auto

  .shadow
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba($black, .7)

  .sponsors
    display: flex
    justify-content: center
    padding: 50px 0 0
    +below($bp)
      flex-wrap: wrap
      padding: 20px 0 0

  .sponsors-item
    flex: 0 0 20%
    padding: 16px
    display: flex
    flex-direction: column
    justify-content: center
    alin-items: center
    +below($bp)
      flex: 1 1 50%

    .img.img-sponsors
      display: block
      width: 100%

  .copyrights
    position: absolute
    bottom: 0
    padding: 10px 20px
