@import '../base/colors.styl'

.section-interaction
  max-height: 600px
  overflow: hidden

  .img.img-interaction
    display: block
    width: 100%

  .shadow
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba($black, .7)
