@import '../base/colors.styl'
@import '../base/sizes.styl'

.section-sponsors
  margin: 100px 0

  .sponsors
    display: flex
    justify-content: center

  .sponsors-item
    flex: 0 0 20%
    padding: 16px

    .img.img-sponsors
      display: block
      width: 100%
