@import '../base/colors.styl'
@import '../base/sizes.styl'

.section-sponsors
  margin: 100px 0
  +below($bp)
    margin: 50px 0

  .sponsors
    display: flex
    justify-content: center
    +below($bp)
      flex-wrap: wrap

  .sponsors-item
    flex: 0 0 20%
    padding: 16px
    display: flex
    flex-direction: column
    justify-content: center
    alin-items: center
    +below($bp)
      flex: 1 1 50%

    .img.img-sponsors
      display: block
      width: 100%
