@import '../base/colors.styl'
@import '../base/sizes.styl'

// TODO: clicked link <on return> styling

$padding = 32px

.section-team
  padding: 0 0 0 $padding
  +below($bp)
    padding: 0

  .section-wrapper
    +below($bp)
      padding-bottom: 0

  .team-title
    font-size: $textTitle
    font-weight: 600
    margin: 0 0 16px
    padding: 0 $padding 0 0
    +below($bp)
      font-size: $textTitleMob

  .team-subtitle
    font-family: 'WorkSans', Helvetica, Arial, sans-serif
    font-size: $textSubtitle
    margin: 0 0 32px
    padding: 0 $padding 0 0
    +below($bp)
      font-size: $textSubtitleMob

  .team-gallery
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch
    +below($bp)
      flex-wrap: wrap

  .team-item
    flex: 0 0 25%
    padding-right: $padding
    +below($bp)
      flex: 0 0 50%
      padding-bottom: $padding

    .item-image
      position: relative
      width: 100%
      // overflow: hidden
      margin: 0 0 16px

      &::after
        content: ''
        display: block
        padding-bottom: 100%

      .img.img-team
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 100%

    .text-name
      margin: 0 0 8px
      font-size: 30px
      font-weight: 600
      +below($bp)
        font-size: $textSubtitleMob

    .text-role
      margin: 0 0 16px
      font-family: 'WorkSans', Helvetica, Arial, sans-serif
      font-size: 16px
      +below($bp)
        font-size: $textDefaultMob

    .text-link
      cursor: pointer
      color: $butterscotch
      font-family: 'WorkSans', Helvetica, Arial, sans-serif
      font-size: 19px
      +below($bp)
        font-size: $textDefaultMob

// hovers [mobile disabling]
html.mobile
  .section-team
    .team-item .text-link
      &:active
        color: $butterscotchHovered

html:not(.mobile)
  .section-team
    .team-item .text-link
      transition: color $transitionSpeed $transitionTiming
      &:hover
        color: $butterscotchHovered
