@import '../base/colors.styl'
@import '../base/sizes.styl'

// TODO: clicked link <on return> styling

$padding = 32px

.section-team
  padding: 0 0 0 $padding

  .team-title
    font-size: 48px
    font-weight: 600
    margin: 0 0 16px

  .team-subtitle
    font-family: 'WorkSans', Helvetica, Arial, sans-serif
    font-size: 24px
    margin: 0 0 32px

  .team-gallery
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch

  .team-item
    flex: 0 0 25%
    padding-right: $padding

    .item-image
      position: relative
      width: 100%
      overflow: hidden
      margin: 0 0 16px

      &::after
        content: ''
        display: block
        padding-bottom: 100%

      .img.img-team
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 100%

    .text-name
      margin: 0 0 8px
      font-size: 30px
      font-weight: 600

    .text-role
      margin: 0 0 16px
      font-family: 'WorkSans', Helvetica, Arial, sans-serif
      font-size: 16px

    .text-link
      cursor: pointer
      color: $butterscotch
      font-family: 'WorkSans', Helvetica, Arial, sans-serif
      font-size: 19px
      transition: color $transitionSpeed $transitionTiming

      &:hover
        color: $butterscotchHovered
