@import '../base/colors.styl'
@import '../base/sizes.styl'

$delayCommon = .5s
$delayReverse = 1s

.section-title
  .head
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-transform: translate3d(0,0,0)

  .head--bg
    position: absolute
    top: 0
    bottom: 0
    left: -10%
    right: -10%
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-transform: translateZ(0)
    transform: translateZ(0)

  .head--bg-back
    background-image: url('../../images/title-background/back.png')

  .head--bg-front
    background-image: url('../../images/title-background/front.png')

  .head--bg-g-off
    background-image: url('../../images/title-background/girlyanda-off.png')

  .head--bg-g-on
    background-image: url('../../images/title-background/girlyanda-on.png')
    +above($bp)
      animation: opacity .5s ease-out $delayCommon infinite alternate

  .head--bg-alert
    background-image: url('../../images/title-background/trevoga.png')
    +above($bp)
      animation: opacity .5s ease-out $delayCommon infinite alternate

  .head--bg-dark
    background-color: rgba(0,0,0, .5)
    +above($bp)
      animation: opacity .5s ease-out $delayReverse infinite alternate

@-webkit-keyframes opacity
  0%   {opacity:1;}
  100% {opacity:0;}

@keyframes opacity
  0%   {opacity:1;}
  100% {opacity:0;}
