@import '../base/colors.styl'
@import '../base/sizes.styl'

$delayCommon = .5s
$delayReverse = 2s

.section-title
  .head
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-transform: translate3d(0,0,0)
    +below($bp)
      opacity: 1!important

  .head--bg
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-transform: translateZ(0)
    transform: translateZ(0)

  .head--bg-back
    background-image: url('../images/title-background/background.png')

  .head--bg-g-on
    &.lights_2
      background-image: url('../images/title-background/lights_2.png')
    &.lights_3
      background-image: url('../images/title-background/lights_3.png')
    &.lights_4
      background-image: url('../images/title-background/lights_4.png')
    +above($bp)
      -webkit-perspective: 1000
      backface-visibility: hidden
      -webkit-transform:translate3d(0,0,0)
      transform:translate3d(0,0,0)
      -webkit-transform-style: preserve-3d
      animation: opacity 1.5s ease-out $delayCommon infinite alternate

  .head--bg-alert
    background-image: url('../images/title-background/lights_1.png')
    +above($bp)
      -webkit-perspective: 1000
      backface-visibility: hidden
      -webkit-transform:translate3d(0,0,0)
      transform:translate3d(0,0,0)
      -webkit-transform-style: preserve-3d
      animation: opacity 1.5s ease-out $delayCommon infinite alternate

  .head--bg-dark
    background-color: rgba(0,0,0, .5)
    +above($bp)
      -webkit-perspective: 1000
      backface-visibility: hidden
      -webkit-transform:translate3d(0,0,0)
      transform:translate3d(0,0,0)
      -webkit-transform-style: preserve-3d
      animation: opacity 1.5s ease-out $delayReverse infinite alternate

@-webkit-keyframes opacity
  0%   {opacity:1}
  100% {opacity:0}

@keyframes opacity
  0%   {opacity:1}
  100% {opacity:0}
