@import '../base/colors.styl'
@import '../base/sizes.styl'

// TODO: separate btn styles, handle touch devices

$arrowHeight = 10px
$colorInitial = $butterscotch
$colorHover = $black

.section-title
  position: relative
  text-align: center
  overflow-x: visible

  .section-wrapper
    position: relative
    -webkit-backface-visibility: hidden
    backface-visibility: hidden
    -webkit-transform: translateZ(0)
    transform: translateZ(0)
    padding: 200px 20px

  .title-logo
    margin: 0 auto 70px

    .img-logo
      width: 90px

  .btn.btn-title
    margin: 0 auto 70px
    padding: 20px 24px
    border: 2px solid $colorInitial
    border-radius: 48px
    color: $colorInitial
    background-color: transparent

    .btn-text
      text-transform: uppercase
      font-size: 18px
      font-weight: 500
      line-height: 1
      transition: color $transitionSpeed $transitionTiming

      &::before
        content: ''
        display: inline-block
        vertical-align: bottom
        margin: 0 24px 0 0
        border-top: $arrowHeight solid transparent
        border-bottom: $arrowHeight solid transparent
        border-left: ($arrowHeight * 1.5) solid transparent
        border-left-color: $colorInitial
        transition: border-left-color $transitionSpeed $transitionTiming

  .title-slogan
    font-size: 31px

// hovers [mobile disabling]
html.mobile
  .section-title
    .btn.btn-title
      &:active
        background-color: $colorInitial

        .btn-text
        color: $colorHover

        &::before
          border-left-color: $colorHover

html:not(.mobile)
  .section-title
    .btn.btn-title
      transition: background-color $transitionSpeed $transitionTiming
      &:hover
        background-color: $colorInitial

        .btn-text
          color: $colorHover

          &::before
            border-left-color: $colorHover
