{% extends "partials/layout/index.html" %}

{% block content %}
  {% include "partials/sections/title/index.html" %}
  {% include "partials/sections/info/index.html" %}
  {% include "partials/sections/gallery/index.html" %}
  {% include "partials/sections/awards/index.html" %}
  {% include "partials/sections/cta/index.html" %}
  {% include "partials/sections/team/index.html" %}
  {% include "partials/sections/sponsors/index.html" %}
  {% include "partials/sections/interaction/index.html" %}
  {% include "partials/sections/fixed/index.html" %}
{% endblock %}
