@import 'colors.styl'

* 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  overflow-x: hidden
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 1.2

h1
h2
h3
h4
h5
h6
p
span 
  margin: 0
  padding: 0
  font-weight: normal
