$white = #fff
$light = #aeaeae
$gray  = #eaeaea
$dark  = #282828
$black = #000

$butterscotch = #fcb73f
$butterscotchHovered = #f99e00

$accent-light = yellow
$accent-dark  = green

$fixed-color = blue
