$textTitle    = 48px
$textSubtitle = 24px
$textRegular  = 24px
$textDefault  = 14px

$transitionSpeed = .3s
$transitionTiming = ease-out

$bp = 896px

// mobile
$textTitleMob    = 36px
$textSubtitleMob = 20px
$textRegularMob  = 20px
$textDefaultMob  = 14px
