@import '../base/colors.styl'
@import '../base/sizes.styl'

.slick-dots li
.slick-dots li.slick-active
  button::before
    color: $white

.slick-prev
  left: 25px
  z-index: 1

.slick-next
  right: 25px
