{% set blocks = [
  {
    video: 'videos/tlr_dialogue_01.webm',
    image: 'images/info/tlr_dialogue',
    title: 'Talk To Everyone.',
    description: 'Listen carefully, do not miss a word. It’s the only way for you to remain yourself and understand what’s happening.'
  },
  {
    video: 'videos/tlr_chase_02.webm',
    image: 'images/info/tlr_chase',
    title: 'Run! As Soon As You See Danger, Run!',
    description: 'Some guys already forgot who they are. You never know what to expect from them. They are monsters now.'
  },
  {
    video: 'videos/tlr_inventory_01.webm',
    image: 'images/info/tlr_inventory',
    title: 'Be Smart, Solve Puzzles, Use Items.',
    description: 'Any item in your pocket can become a key to your salvation. Collect, think, apply.'
  }
] %}

{% block content %}
  {% for item in blocks %}
    {% include "partials/sections/info/template.html" %}
  {% endfor %}
{% endblock %}
