<section class="section section-info section-info-right">
  <div class="section-wrapper">
    <div class="info-image">
      <img class="img img-info" src="images/info/image-2.jpg" />
      <div class="img-shadow"></div>
    </div>
    <div class="info-text">
      <h3 class="text-title">Are You Famous Or Focused</h3>
      <p class="text-description">
        I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisit
      </p>
    </div>
  </div>
</section>
