@import '../base/colors.styl'

.container
  display: flex
  justify-content: space-around
  padding: 40px 20px

.container-aligned-left
  flex-direction: row-reverse

.container-aligned-right
  flex-direction: row

.container-light
  color: $dark
  background-color: $light

.container-dark
  color: $light
  background-color: $dark
