@import '../base/colors.styl'

.section
  width: 100%
  overflow-x: hidden
  background-color: $black
  color: $white
  border-bottom: 1px solid rgba($black, .5)

.section-wrapper
  margin: 0 auto
  padding: 40px 20px
  max-width: 1300px
  position: relative
  // background-color: rgba($black, .7)

.section-wrapper-wide
  padding: 0
  max-width: 100%
