@import '../base/colors.styl'
@import '../base/sizes.styl'

.section
  width: 100%
  overflow-x: hidden
  background-color: $black
  color: $white

.section-wrapper
  margin: 0 auto
  padding: 40px 20px
  max-width: 1300px
  position: relative

.section-wrapper-wide
  padding: 0
  max-width: 100%
